:root {
  /* Primary */
  --color-primary-marine-blue: hsl(213, 96%, 18%);
  --color-primary-purplish-blue: hsl(243, 100%, 62%);
  --color-primary-pastel-blue: hsl(228, 100%, 84%);
  --color-primary-light-blue: hsl(206, 94%, 87%);
  --color-strawberry-red: hsl(354, 84%, 57%);

  /* Neutral */

  --color-cool-gray: hsl(231, 11%, 63%);
  --color-light-gray: hsl(229, 24%, 87%);
  --color-magnolia: hsl(217, 100%, 97%);
  --color-alabaster: hsl(231, 100%, 99%);
  --color-white: hsl(0, 0%, 100%);

  --font-family-primary: "Ubuntu", sans-serif;
}

body {
  font-family: var(--font-family-primary);
  background-color: var(--color-magnolia);
  display: flex;
  flex-direction: column;
}

.card {
  max-width: 940px;
  width: 940px;
  height: 600px;
}

.sidebar svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.step {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.step-num {
  width: 40px;
  height: 40px;
}

.step-num.active {
  background-color: var(--color-primary-light-blue) !important;
  color: var(--color-primary-marine-blue) !important;
}

.step-text {
  color: var(--color-primary-light-blue);
  font-size: 12px;
}

.step-title {
  font-size: 14px;
  color: var(--color-white);
  letter-spacing: 1px;
  font-weight: 700;
}

.form {
  padding-left: 100px;
  padding-right: 100px;
}
.form-title {
  color: var(--color-primary-marine-blue);
  font-size: 32px;
  font-weight: 700;
}

.form-text {
  color: var(--color-cool-gray);
  line-height: 25px;
}

.form-label {
  color: var(--color-primary-marine-blue);
  font-size: 14px;
  font-weight: 500;
}

.form-control::placeholder {
  font-weight: 500;
  color: var(--color-cool-gray);
}

.btn-primary {
  background-color: var(--color-primary-marine-blue);
  width: 123px;
  height: 48px;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: #164a8a !important;
  font-weight: 500 !important;
}

.btn-secondary {
  background-color: transparent;
  border: none;
  color: var(--color-cool-gray);
  font-weight: 500;
}

.btn-secondary:hover,
.btn-secondary:active {
  background-color: transparent !important;
  border: none !important;
  color: var(--color-primary-marine-blue) !important;
}

.plans {
  gap: 20px;
}

.plan {
  cursor: pointer;
  height: 183px;
  width: 150px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  border: 2px solid var(--color-light-gray);
  /* background: var(--color-alabaster); */
}

.plan.active {
  background-color: var(--color-alabaster);
  border: 2px solid var(--color-primary-purplish-blue);
}

.plan-name {
  color: var(--color-primary-marine-blue);
  font-weight: 500;
}

.plan-price {
  color: var(--color-cool-gray);
  font-size: 14px;
}

.billing-cycle {
  background-color: var(--color-alabaster);
  width: 450px;
  height: 48px;
  border-radius: 8px;
}

.billing-cycle svg {
  cursor: pointer;
}

.billing-cycle-lable {
  font-size: 14px;
  font-weight: 700;
  color: var(--color-cool-gray);
}

.billing-cycle-lable.active {
  color: var(--color-primary-marine-blue);
}

.months-free {
  font-size: 12px;
  font-weight: 400;
  color: var(--color-primary-marine-blue);
}

.custom-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  border: 1px solid var(--color-light-gray);
  border-radius: 8px;
  padding: 1rem;
  transition: border-color 0.3s ease;
}

.custom-checkbox:hover {
  border-color: var(--color-primary-purplish-blue);
}

.custom-checkbox .form-check-input {
  width: 1.25rem;
  height: 1.25rem;
}

.custom-checkbox .form-check-input:checked {
  background-color: var(--color-primary-purplish-blue);
  border-color: var(--color-primary-purplish-blue);
}

.checked-background {
  background-color: #f8f9ff !important;
  border: 1px solid var(--color-primary-purplish-blue);
}

.addon-title {
  font-weight: bold;
}

.addon-description {
  font-size: 0.875rem;
  color: var(--color-cool-gray);
}

.addon-price {
  font-weight: bold;
  color: var(--color-primary-marine-blue);
}

.form-check .form-check-input {
  margin-right: 1rem;
  margin-left: 0;
}

.summary-box {
  background-color: var(--color-alabaster);
  border: 1px solid var(--color-light-gray);
}

.summary-plan-name {
  font-weight: bold;
  color: var(--color-primary-marine-blue);
}

.summary-change-link {
  color: var(--color-cool-gray);
  font-size: 0.875rem;
  text-decoration: underline;
}

.summary-plan-price,
.summary-addon-price {
  font-weight: bold;
  color: var(--color-primary-marine-blue);
}

.summary-total-price {
  font-weight: 700;
  color: var(--color-primary-purplish-blue);
  font-size: 20px;
}

.summary-addon-name,
.summary-monthly-price {
  color: var(--color-cool-gray);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
